/* 글꼴 설정 */
@font-face {
    font-family: abster;
    src: url(font/abster-webfont.woff) format('woff');
} 
/* 전체 선택 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 배경처리 */
.container{
    /* 화면을 전체 크기로 저장 */
    width: 100%;
    height: 100vh;
    /*배경화면 설정 rgba 에서 a는 투명도를 의미*/
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.6)), url(./images/room.jpg);


}
/* 헤더배치 */
.header{
    /* 로고와 메뉴의 크기 저장 */
    width: 80%;
    height: 80px;
    /* 여백 초기화 */
    margin: 0 auto;
    /* 헤더의 요소인 로고와 메뉴의 배치를 양쪽 끝으로 저장 */
    display: flex;
    justify-content: space-between;
}
/* 글자로고 */
.container .header h1 a{
    /* a테그의 밑줄을 제거한다 */
    text-decoration: none;
    /* 텍스트의 색과 글꼴를 변경한다 */
    color: white;
    font-family: abster;
}
/* 메뉴요소 배치 */
.container .header .nav ul li{
    /* 메뉴요소를 수평으로 놓기위해 inline-block 처리 가독성을 위해 margin값 */
    display: inline-block;
    margin: 0 10px;
}
/* 메뉴요소 스타일링 */
.container .header .nav ul li a{
    text-decoration: none;
    color: white;
}
/* 메뉴요소 마우스이벤트 */
.container .header .nav ul li a:hover{
    color: yellow;
}
/* 화면 중앙 요소 배치 */
.container .hero{
    /* 화면 중앙 배치 */
    position: absolute;
    top: 50%;
    left: 50%;
    /* 영역안에 있는 요소들의 위치를 기준점이 중앙일때 내용은 중앙이 아니므로 조정 */
    transform: translate(-50%, -50%);
    /* 글자 색변경 글자 중앙 정렬 */
    color: white;
    text-align: center;
}
/* 화면 중앙 요소 제목 */
.container .hero h2{
    /* 글자 크기 지정 */
    font-size: 60px;
}
/* 화면 중앙 요소 본문 */
.container .hero p{
    /* 글자 크기 지정 */
    font-size: 22px;
}
/* 화면 중앙 요소 버튼 */
.container .hero button{
    /* 백그라운드 없에기 */
    background: none;
    /* 버튼 둥굴게 하기 버튼 내부 여백지정 p영역과 여백지정 */
    border-radius: 20px;
    padding: 15px 20px;
    margin-top: 30px;
    color: white;
}
/* 화면 중앙 요소 버튼 처리 */
.container .hero button:hover{
    /* 마우스 이밴트 */
    background-color: yellow;
    color: black;
}